<div class="footer-container">
    <div class="light-back-drop">
        <div class="footer-container-body row">
            <div class="col-sm footer-main-menu">
                <article>{{footer_b11}}</article>
                <!-- <div>Link 1</div>
                <div>Link 2</div>
                <div>Link 3</div>
                <div>Link 3</div> -->
            </div>
            <div class="col-sm">
                <div>Menu 1</div>
                <div>Menu 2</div>
                <div>Menu 3</div>
                <div>Menu 4</div>
            </div>
            <div class="col-sm">
                <div class="footer-contact-menu">
                    <div>{{comp_name}}</div>
                    <sup>{{comp_sub_title}}</sup>
                    <div class="footer-contact-menu-text">
                        {{footer_b31}}
                        <div class="footer-contact-text">
                            <mat-icon>phone</mat-icon>{{footer_b32}}
                        </div>
                    </div>
                    <!-- <div><mat-icon>store</mat-icon> Address 1</div> -->
                    <div class="footer-contact-menu-text">
                        {{footer_b33}}
                        <div class="footer-contact-text">
                            <mat-icon>email</mat-icon>{{footer_b34}}
                        </div>
                    </div>
                    <div class="footer-contact-menu-text">
                        {{footer_b35}}
                        <div class="footer-contact-text">
                            <mat-icon>email</mat-icon>{{footer_b36}}
                        </div>
                    </div>
                    <div class="footer-contact-menu-text">
                        {{footer_b37}}
                        <div class="footer-contact-text">
                            <mat-icon>email</mat-icon>{{footer_b38}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>